body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url(img/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    width: 650px;
    height: 450px;
    background-color: #401274;
    opacity: 0.8;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 15px 10px #cd0f97;
}
.sub-card{
    padding: 10px;
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
}
.yo{
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
.right{
    width: 50%;
    height: 100%;
    float: right;
    padding: 10px;
}
.under{
    width: 100%;
    display: flex;
    justify-content: end;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 15px 10px #cd0f97;
}
h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 15px 10px #cd0f97;
    line-height: 70%;
    padding-top: 0px;
}
h3{
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 15px 10px #cd0f97;
}
p{
    color: #fff;
    font-size: 15px;
    text-align: left;
    text-shadow: 0 15px 10px #cd0f97;
    line-height: 3;

}
i{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    text-align: center;
    text-shadow: 0 15px 10px #cd0f97;
    padding: 10px;
}
.skills{
   
}